table{
    width: 100%;
    background-color: white;
    text-align: center;
    /* padding: 20px; */
    /* border: none; */
    border-radius: 10px;
    border-collapse: collapse;
    /* margin: 20px; */
    border: 1px solid black;
}

thead{
    background-color: var(--text-main);
    color: white;
}

table a{
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 8px;
}

table a:first-child {
    background-color: var(--accent);
    border: 1px solid var(--accent);
    color: white;
}

table a:last-child {
    background-color: white;
    color: black;
    border: 1px solid black;
}