.jumbo{
    background: linear-gradient(#00000080, #00000080), url(../images/tabea-schimpf-O7WzqmeYoqc-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0px;
    /* border-radius: 20px; */
    display: grid;
    grid-template-columns: 1fr;
    /* row-gap: 200px; */
    text-align: center;
    color: white;
}


h1, p{
    color: white;
}

.jumbo p{
    margin: 0px 350px;
    font-size: 13px;
    color: rgb(194, 194, 194);
}

section{
    padding: 50px 0px 50px;
}

.form-con{
    display: flex;
    justify-content: center;
}

iframe{
    width: 100%;
    height: 100%;
}

/* FORMULAIRE */

/* Partie droite : Formulaire */
.form-con form{
    width: 700px;
}

.form-group {
    position: relative;
    margin-bottom: 30px;
}

.form-group label {
    position: absolute;
    margin-bottom: 8px;
    /* text-transform: uppercase; */
    font-size: 0.8rem;
    color: #666;
    top: 13px;
    left: 0px;
    transition: 0.2s;
}

.form-group input {
    width: 100%;
    padding: 12px 0;
    border: none;
    border-bottom: 2px solid #ddd;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
}

.form-group input:focus {
    border-bottom-color: var(--onyx-black);
}

.form-group input:focus ~ label, 
.form-group input:valid ~ label { 
    position: absolute;
    top: -12px;
    left: 0px;
    font-size: 14px;
    background-color: #ffffff;
    color: black;
}

.nom{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    box-sizing: border-box;
}

.forgot-password {
    display: block;
    text-align: right;
    font-size: 0.8rem;
    color: #888;
    text-decoration: none;
    margin-top: 10px;
}

.forgot-password:hover{
    color: #F97316;
}

.btn-login {
    background-color: var(--text-main);
    color: white;
    border: none;
    padding: 15px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 30px;
    transition: transform 0.2s, background-color 0.3s;
}

.btn-login:hover {
    background-color: var(--black);
    transform: translateY(-2px);
}

textarea{
    width: 100%;
    height: 100px;
    resize: none;
    border: 2px solid  #ddd;
    padding: 10px 0px 0px 10px;
    box-sizing: border-box;
    font-size: 14px;
}

textarea::placeholder{
    font-family: "Lato", sans-serif;
}
/* FIN FORMULAIRE */

.coord{
    padding: 30px 0px;
}

.coord{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.grid-coord{
    background-color: var(--bg-light);
    border-radius: 10px;
    padding: 20px;
    transition: all 0.3s;
}

.titre{
    display: flex;
    align-items: center;
    gap: 20px;
}

.grid-coord p{
    color: var(--text-muted);
}

.grid-coord:hover{
    box-shadow: 0px 5px 10px #0000003a;
    transform: translateY(-5px);
}