.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(#00000095, #00000095), url(../images/photo-1542282088-72c9c27ed0cd.avif); /* Fond noir */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px 20px;
    border-radius: 20px;
    /* margin: 0px 20px; */
}

.hero-content h1{
    color: #fff; /* Texte blanc */
    font-size: 3rem; 
    font-weight: 800; 
    margin-bottom: 20px; 
    letter-spacing: -1px;
}

.hero-content > p{
    font-family: 'Lato', sans-serif; 
    font-size: 1.2rem; 
    max-width: 600px; 
    color: #888888; 
    line-height: 1.6; 
    margin-bottom: 40px;
}

.hero-content > a{
    background-color: var(--white);
    color: var(--black);
    padding: 18px 40px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 2px;
    transition: transform 0.3s ease;
    font-size: 14px;
}