/* .main{
    background-color: #FAFAFA;
    margin-top: 145px;
} */


.section1{
    background-color: #E63F1110;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1000;
}

.section1-content{
    padding: 10px;  
}

.section1-content ul{
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    padding-left: 0;
    gap: 16px;
}

.section1-content ul li a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.section1-content ul li:first-child a{
    color: #E63F11;
}

.champ label{
    display: block;
    color: #000000;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 8px;
}

select{
    border: 1px solid #C8C8C8;
    padding: 16px 20px;
    color: #9CA3AF;
    font-size: 14px;
    border-radius: 0px;
    width: 100%;
}

select, select::picker(select) {
  appearance: base-select; /*Permet le style CSS*/
}

/*Pseudo element : ::picker() permet de styliser le menu deroulant*/
select::picker(select) {
  background-color: white; /* Couleur de fond du menu */
  border: 1px solid #C8C8C8;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Ombre pour le menu */
}


/* ::picker-icon : permeet de styliser la fleche qui fait apparaitre le menu deroulant */
select::picker-icon {
  color: #292D32;
}

.champ{
    margin-bottom: 25px;
}

.champ input{
    padding: 16px 20px;
    border: 1px solid #C8C8C8;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
}

.champ input:focus{
    outline: none;
}

.champ input::placeholder{
    color: #7E7E7E;
}

.span-absolute{
    position: relative;
}

.champ span{
    position: absolute;
    right: 16px;
    top: 16px;
    font-size: 14px;
}

.section-search form{
    background-color: #ffffff;
    padding: 25px 16px;
    max-height: min-content;
    border: 1px solid var(--bg-light);
    border-radius: 8px;
}

.section-search form button{
    padding: 16px 20px;
    background-color: var(--text-main);
    border-radius: 8px;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 15px;
    width: 100%;
}

.section-search form button:hover{
    background-color: #000000;
}


.card:hover{
    box-shadow: 0px 5px 10px #0000003a;
    transform: translateY(-5px);
}

.card{
    transition: all 0.3s ease;
    border: none;
    border-radius: 8px;
    background-color: var(--bg-light);
    max-height: 380px;
    /* padding: 10px 10px 0px 10px; */
}


.card-present{
    padding: 10px 20px 0px 20px;    
}

.card-img > img{
    width: 100%;
    height: 200px;
    border-radius: 8px;
}

.card-present > p{
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    /* line-height: 18px; */
    margin-top: 6px;
    margin-bottom: 20px;
}

.mrk{
    display: flex;
    justify-content: space-between;
}

.mrk > span:first-child{
    color: var(--accent);
}

.mrk > span:last-child{
    color: var(--text-main);
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 700;
}

.reservation p{
    font-size: 15px;
    font-weight: 600;
    text-align: left;
    color: var(--accent);
}

.reservation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reservation a {
    background-color: var(--text-main);
    color: white;
    font-size: 13px;
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
}

.search-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.section-search{
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 40px 0px 100px;
    gap: 20px;
}
